# Vue Ignores

.DS_Store
node_modules
/dist


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# End Vue Ignores

# WP Ignores

# ignore everything in wp but app
wp/*
!app

# ignore everything in public except the "wp-content" directory.
wp/app/public/*
!wp-content

# ignore everything in the "wp-content" directory, except:
# "themes" directory
# consider "mu-plugins", "plugins" directories as well
wp/app/public/wp-content/*
!themes/

# ignore these plugins
wp/app/public/wp-content/plugins/hello.php

# ignore specific themes
wp/app/public/wp-content/themes/twenty*/

# ignore log files and databases
*.log
*.sql
*.sqlite

# End WP Ignores