#home-page-wrap {
  width: 100%;
  height: 100%;
  background: $seasalt;
  display: flex;
  justify-content: space-between;
  overflow-x: hidden;
  padding: 5rem 0 5rem 0;

  .home-page-image-wrap {
    width: 40%;
    height: 100%;
    position: relative;

    .home-page-image {
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center bottom;
      background-color: $platinum;
      border-top-right-radius: 0.875rem;
      border-bottom-right-radius: 0.875rem;
    }
  }

  .home-page-content {
    width: 60%;
    height: 100%;
    padding: 0 clamp(2rem, 7.25vw, 7.25vw);
    display: flex;
    flex-direction: column;

    .home-page-navbar {
      display: flex;
      justify-content: space-between;
      width: 100%;
      // max-width: 41.375rem;

      a {
        line-height: 0;

        .home-logo {
          width: 9rem; //8.5rem
          filter: brightness(0) invert(22%) sepia(10%) saturate(574%) hue-rotate(113deg) brightness(97%) contrast(91%);
        }
      }

      .menu-button {
        // animation: float 8s ease-in-out infinite;
        // will-change: transform;

        @keyframes float {
          0% {
            transform: translateY(0);
          }
          50% {
            transform: translateY(1.5rem);
          }

          100% {
            transform: translateY(0);
          }
        }

        &:hover {
          // box-shadow: 0.625rem -1rem 3.125rem rgba(98, 121, 184, 0.325);
          // animation-play-state: paused;
          // transform: translateY(0.25rem);
        }
      }
    }

    .home-page-copy-wrap {
      flex-grow: 1;
      display: flex;
      flex-direction: column;

      .home-page-copy-margin:first-child {
        flex-grow: 6;
        flex-basis: 0;
      }

      .home-page-copy-margin:not(:first-child) {
        flex-grow: 4;
        flex-basis: 0;
      }

      .home-page-copy {
        display: flex;
        flex-direction: column;
        // max-width: 41.375rem;
        visibility: hidden;
        flex-grow: 0;
        flex-shrink: 0;
        height: auto;
        max-width: 50rem;

  
        &.copy-visible {
          visibility: visible;
        }
  
        h2.home-page-subtitle {
          color: $outerspace-light;
          font-size: 1.125rem;
          line-height: 1.4em;
          letter-spacing: 0.2em;
          font-weight: 800;
          text-transform: uppercase;
          // align-self: flex-end;
          margin-bottom: 0.125rem;
  
          .home-page-subtitle-slice {
            // color: #b1afa8;
            font-style: italic;
          }
        }

        .home-page-title-x-endorsement-wrap {
          position: relative;
          max-width: 46.125rem;

          h1.home-page-title {
            font-family: 'Roboto', sans-serif;
            color: $outerspace;
            font-style: italic;
            font-size: clamp(2.125rem, 5.25vw, 5.25rem);
            line-height: 1.0125em;
            // letter-spacing: 0.01375em;
            font-weight: 900;
            margin-top: 1.625rem;
            align-self: flex-end;
            width: 100%;
          }

          .home-page-endorsement {
            position: absolute;
            z-index: 2;
            // top: 12.5rem;
            top: -2.5rem;
            right: 3.5rem;
            width: 9rem;
            // transform: rotate(-10deg);
          }

          .home-acclaimed {
            position: relative;
            z-index: 2;
            width: 100%;
            animation: rotate 20s linear infinite;
            transform: translateZ(0);
            will-change: transform;
            transform-box: fill-box;
            transform-origin: center;
            backface-visibility: hidden;
            image-rendering: -webkit-optimize-contrast;
            image-rendering: crisp-edges;
            filter: brightness(0) invert(54%) sepia(63%) saturate(5326%) hue-rotate(20deg) brightness(91%) contrast(90%);

            @keyframes rotate {
              from {
                transform: rotate(0deg);
              }
              to {
                transform: rotate(360deg);
              }
            }
          }

          .home-starshine {
            position: absolute;
            z-index: 2;
            width: 8.5rem;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            padding-bottom: 0.5rem;
            filter: brightness(0) invert(54%) sepia(63%) saturate(5326%) hue-rotate(20deg) brightness(91%) contrast(90%);
          }

          .home-certified {
            width: 4rem;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            padding-bottom: 0.5rem;
            z-index: 2;
          }

          .home-endorsement-circle {
            width: 11rem;
            height: 11rem;
            position: absolute;
            left: 50%;
            top: calc(50% - 0.25rem);
            transform: translate(-50%, -50%);
            // background: $seasalt;
            // filter: blur(1rem);
            border: 0.25rem solid #B66D0D;
            border-radius: 100%;
            z-index: 1;

            &:nth-of-type(2) {
              width: 6.25rem;
              height: 6.25rem;
              border-width: 0.1875rem;
            }

            &:nth-of-type(3) {
              width: 5.5625rem;
              height: 5.5625rem;
              border-width: 0.1875rem;
            }
          }
        }
    
        p.home-page-body {
          color: $outerspace-light;
          font-size: 1.125rem;
          line-height: 1.67em;
          // text-align: right;
          margin-top: 2.125rem;
          align-self: flex-end;
          font-weight: 400;
        } 
      }
    }

    .home-page-cta-marginal {
      width: 100%;
      // max-width: 41.375rem;
      display: flex;
      align-items: center;
      visibility: hidden;

      &.marginal-visible {
        visibility: visible;
      }

      button.home-page-cta {

        &:first-child {

          img {
            margin: 0 -0.25rem 0 -0.125rem;
          }
        }

        &:not(:nth-child(1)) {
          margin-left: 1.375rem;

          img {
            margin: 0 -0.5rem 0 -0.375rem;
          }
        }
      }

      .home-page-cta-marginal-count {
        --breadcrumb: attr(data-text);
        position: relative;
        font-family: 'Commissioner', sans-serif;
        font-weight: 800;
        font-size: 0.875rem;
        text-transform: uppercase;
        font-style: italic;
        color: $outerspace-light;
        letter-spacing: 0.24em;
        margin-left: auto;
        margin-right: -1.0625rem;
        padding: 0.75rem;
        transition: 300ms ease-in-out;

        &::before {
          content: var(--breadcrumb);
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          color: $glaucous;
          animation: glint 2s ease-in-out infinite;
          width: 100%;
          text-align: center;
          transition: 300ms ease-in-out;
          background: $seasalt;
        }

        @keyframes glint {
          0%, 40%, 100% {
            opacity: 0;
          }

          55% {
            opacity: 1;
          }
        }

        &:hover {
          cursor: pointer;
          color: $glaucous;
          animation-play-state: paused;

          &::before {
            animation-play-state: paused;
            opacity: 0;
          }
        }
      }
    }
  }
}