#work-page-wrap {
  width: 100%;
  min-height: 100%;
  height: 0.125rem;
  // padding: 5rem clamp(2rem, 9.5vw, 9.5rem) 5.25rem clamp(2rem, 9.5vw, 9.5rem);
  padding: 5rem clamp(2rem, 7.25vw, 7.25rem) 5rem clamp(2rem, 7.25vw, 7.25rem);
  position: relative;
  overflow-x: hidden;

  display: flex;
  flex-direction: column;

  .work-page-content {
    display: flex;
    justify-content: space-between;
    padding-bottom: 4.5rem;

    section {
      display: flex;
      flex-direction: column;

      // .work-page-carousel-next, .work-page-carousel-prev {
      //   all: unset;
      //   display: flex;
      //   padding: 0.5rem;
      //   transition: 300ms ease-in-out;
      //   // filter: brightness(0) saturate(100%) invert(73%) sepia(5%) saturate(550%) hue-rotate(71deg) brightness(83%) contrast(83%);
      //   filter: brightness(0) saturate(100%) invert(29%) sepia(7%) saturate(702%) hue-rotate(111deg) brightness(97%) contrast(94%);
      //   position: relative;

      //   .work-page-carousel-icon {
      //     max-width: 2.5rem;
      //     max-height: 2.5rem;
      //     width: 100vw;
      //     height: 100vh;
      //   }

      //   &:hover {
      //     cursor: pointer;
      //     filter: brightness(0) saturate(100%) invert(48%) sepia(52%) saturate(455%) hue-rotate(186deg) brightness(88%) contrast(86%);
      //   }
      // }

      // .work-page-carousel-next {
      //   align-self: end;
      //   right: -0.8125rem;
      //   bottom: -0.875rem;
      // }

      // .work-page-carousel-prev {
      //   left: -0.75rem;
      //   bottom: -0.875rem;
      // }

      &.work-page-logo-wrap {
        padding: 0 1.875rem 0 0;
        
        a {
          line-height: 0;
          max-height: 6.125rem;
  
          .work-logo {
            width: 9rem; //8.5rem;
            filter: brightness(0) invert(22%) sepia(10%) saturate(574%) hue-rotate(113deg) brightness(97%) contrast(91%);
          }
        }
      }

      &:first-child, &:last-child { 
        justify-content: space-between;
      }

      &.work-page-copy-wrap {
        width: 50vw;

        .work-page-copy {
          text-align: center;

          .work-page-subtitle {
            color: $outerspace-light;
            font-size: 1.125rem;
            line-height: 1.4em;
            letter-spacing: 0.2em;
            font-weight: 800;
            text-transform: uppercase;
            margin-bottom: 0.125rem;
          }

          .work-page-title {
            font-family: 'Roboto', sans-serif;
            color: $outerspace;
            font-style: italic;
            font-size: clamp(2.125rem, 5.25vw, 5.25rem);
            line-height: 1.0125em;
            font-weight: 900;
            margin-top: 1.625rem;
          }

          p.work-page-body {
            color: $outerspace;
            font-size: 1.125rem;
            line-height: 1.67em;
            margin-top: 2.125rem;
            font-weight: 400;
            max-width: 70ch;
            justify-self: center;
          }
        }

        .work-page-cta-wrap {
          width: 100%;
          display: flex;
          justify-content: center;
          margin-top: 2.25rem; //2.625rem;

          .work-page-cta:first-child {

            .button-icon {
              filter: brightness(0) invert(19%) sepia(75%) saturate(0%) hue-rotate(236deg) brightness(88%) contrast(98%);
              transition: filter 300ms ease-in-out;
            }

            &:hover {

              .button-icon {
                filter: brightness(0) invert(100%) sepia(100%) saturate(0%) hue-rotate(123deg) brightness(103%) contrast(96%);
              }
            }
          }
        }
      }

      &.work-page-nav-wrap {
        // padding: 0 0 0 clamp(2rem, 8vw, 9.5rem);
      }
    }
  }

  button.work-page-cta {

    &:first-child {

      img {
        margin: 0 -0.3125rem 0 -0.25rem;
      }
    }
    
    &:not(:nth-child(1)) {
      margin-left: 1.25rem;

      img {
        margin: 0 -0.5rem 0 -0.375rem;
      }
    }
  }

  .work-page-carousel-wrap {
    position: relative;
    min-height: 27.825rem;
    height: 100%;
    width: 100vw;
    overflow-x: hidden;
    margin-left: clamp(-7.25rem, -7.25vw, -2rem);
    // display: flex;
    // justify-content: center;
    margin-top: auto;
    margin-bottom: auto;

    .work-page-carousel {
      position: absolute;
      height: 100%;
      display: flex;
      left: 50%;
      transform: translateX(-50%);
      transition: left 400ms ease-in-out;

      .work-page-carousel-item {
        width: 44.625rem; //41.125rem;
        max-height: 100%;
        // border-radius: 1.625rem;
        transition: max-height 400ms ease-in-out,
                    filter 300ms ease-in-out;
        filter: grayscale(100%) contrast(1.1);
        overflow: hidden;
        border-radius: 0.875rem;
        display: flex;
        align-items: center;

        &.primary-item {
          filter: grayscale(0%) contrast(1);
        }

        &:nth-of-type(3) {

          .work-page-carousel-item-image {

            &:hover {
              width: 115%;
              height: 115%;
            }
          }
        }

        &:not(:last-child) {
          margin-right: 4.5rem;
        }

        &.last-visible {
          // max-height: calc(97.5% - 4.25rem); 
          max-height: 54%;

          .work-page-carousel-item-image {
            width: calc(97.5% - 4.25rem); //54%;
          }
        }

        .work-page-carousel-item-image {
          display: block;
          height: 100%;
          width: 100%;
          cursor: pointer;
          text-decoration: none;
          background-size: cover;
          background-position: center center;
          transition: width 400ms ease-in-out,
                      height 400ms ease-in-out;
          border-radius: 0.875rem;
        }
      }
    }
  }

  .work-page-count-wrap {
    // position: absolute;
    // bottom: 4.1875rem; 
    // right: clamp(2rem, 3.5vw, 3.5rem);

    margin-left: calc(100% - 1rem);
    margin-bottom: -8.75rem;
    transform: translateY(-8.75rem) rotate(90deg);

    .work-page-count {
      --breadcrumb: attr(data-text);
      position: relative;
      font-family: 'Commissioner', sans-serif;
      font-weight: 800;
      font-size: 0.875rem;
      text-transform: uppercase;
      font-style: italic;
      color: $outerspace-light;
      letter-spacing: 0.245em;
      margin-left: auto;
      margin-right: -0.5rem;
      padding: 0.75rem;
      transition: 300ms ease-in-out;
      white-space: nowrap;

      &::before {
        content: var(--breadcrumb);
        position: absolute;
        top: 51%;
        left: 50%;
        transform: translate(-50%, -51%);
        color: $glaucous;
        animation: glint 2s ease-in-out infinite;
        width: 100%;
        text-align: center;
        transition: 300ms ease-in-out;
        // background hides the og text underneath
        background: $seasalt;
      }

      @keyframes glint {
          0%, 40%, 100% {
            opacity: 0;
          }

          55% {
            opacity: 1;
          }
        }

      &:hover {
        cursor: pointer;
        color: $glaucous;
        animation-play-state: paused;

        &::before {
          animation-play-state: paused;
          opacity: 0;
        }
      }
    }
  }
}