#work-page-wrap {
  width: 100%;
  height: 100%;
  padding: 5rem clamp(2rem, 9.5vw, 9.5rem) 5.25rem clamp(2rem, 9.5vw, 9.5rem);
  display: flex;
  flex-direction: column;
  position: relative;

  .work-page-content {
    display: flex;
    justify-content: space-between;
    padding-bottom: 4.25rem;

    section {
      display: flex;
      flex-direction: column;

      &.work-page-logo-wrap {
        
        a {
          line-height: 0;
          max-height: 6.125rem;
  
          .work-logo {
            width: 9rem; //8.5rem;
            filter: brightness(0) invert(22%) sepia(10%) saturate(574%) hue-rotate(113deg) brightness(97%) contrast(91%);
          }
        }
      }

      &:first-child, &:last-child { 
        justify-content: space-between;
      }

      &.work-page-copy-wrap {
        width: 50vw;

        .work-page-copy {
          text-align: center;

          .work-page-subtitle {
            color: $outerspace-light;
            font-size: 1.125rem;
            line-height: 1.4em;
            letter-spacing: 0.25em;
            font-weight: 800;
            text-transform: uppercase;
            margin-bottom: 0.125rem;
          }

          .work-page-title {
            font-family: 'Roboto', sans-serif;
            color: $outerspace;
            font-style: italic;
            font-size: clamp(2.125rem, 5.25vw, 5.25rem);
            line-height: 1.0125em;
            letter-spacing: 0.015em;
            font-weight: 900;
            margin-top: 1.625rem;
          }

          p.work-page-body {
            color: $outerspace-light;
            font-size: 1.125rem;
            line-height: 1.67em;
            margin-top: 2.125rem;
            font-weight: 400;
            max-width: 64ch;
            justify-self: center;
          }
        }

        .work-page-cta-wrap {
          width: 100%;
          display: flex;
          justify-content: center;
          margin-top: 2.375rem;
        }
      }

      &.work-page-nav-wrap {

        .work-page-carousel-next {
          all: unset;
          align-self: end;
          display: flex;
          padding: 0.5rem;
          transition: 300ms ease-in-out;
          filter: brightness(0) invert(22%) sepia(10%) saturate(574%) hue-rotate(113deg) brightness(97%) contrast(91%);
          position: relative;
          right: -0.875rem;
          bottom: -0.875rem;

          .work-page-carousel-next-icon {
            max-width: 3rem;
            max-height: 3rem;
          }

          &:hover {
            cursor: pointer;
            filter: brightness(0) invert(48%) sepia(52%) saturate(455%) hue-rotate(186deg) brightness(88%) contrast(86%);
          }
        }
      }
    }
  }

  button.work-page-cta {

    &:first-child {

      img {
        margin: 0 -0.25rem 0 -0.25rem;
      }
    }
    
    &:not(:nth-child(1)) {
      margin-left: 2rem;

      img {
        margin: 0 -0.5rem 0 -0.375rem;
      }
    }
  }

  .work-page-carousel-wrap {
    position: relative;
    height: 100%;
    width: 100vw;
    overflow-x: hidden;
    margin-left: clamp(-9.5rem, -9.5vw, -2rem);
    // display: flex;
    // justify-content: center;

    .work-page-carousel {
      position: absolute;
      height: 100%;
      display: flex;
      left: 50%;
      transform: translateX(-50%);
      transition: left 400ms ease-in-out;

      .work-page-carousel-item {
        width: 43rem;
        max-height: 100%;
        border-radius: 0.75rem;
        transition: max-height 400ms ease-in-out;

        &:not(:last-child) {
          margin-right: 6.5rem;
        }

        &.last-visible {
          max-height: calc(92.5% - 5.125rem); //54%;

          .work-page-carousel-item-image {
            width: calc(92.5% - 5.125rem) //54%;
          }
        }

        .work-page-carousel-item-image {
          display: block;
          height: 100%;
          width: 100%;
          border-radius: 0.75rem;
          text-decoration: none;
          background-size: cover;
          background-position: center center;
          transition: width 400ms ease-in-out;
          cursor: pointer;
        }
      }
    }
  }

  .work-page-count-wrap {
    position: absolute;
    bottom: 5.25rem; 
    right: clamp(2rem, 9.1875vw, 9.1875rem);
    // transform: rotate(90deg);

    .work-page-count {
      --breadcrumb: attr(data-text);
      position: relative;
      font-family: 'Commissioner', sans-serif;
      font-weight: 800;
      font-size: 0.875rem;
      text-transform: uppercase;
      color: $outerspace-light;
      letter-spacing: 0.3em;
      margin-left: auto;
      margin-right: -0.75rem;
      padding: 0.75rem;
      transition: 300ms ease-in-out;

      &::before {
        content: var(--breadcrumb);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, calc(-50% + 0.0625rem));
        color: $glaucous;
        animation: glint 2s ease-in-out infinite;
        width: 100%;
        text-align: center;
        transition: 300ms ease-in-out
      }

      @keyframes glint {
        0%, 45%, 100% {
          opacity: 0;
        }

        55% {
          opacity: 1;
        }
      }

      &:hover {
        cursor: pointer;
        color: $glaucous;
        animation-play-state: paused;

        &::before {
          animation-play-state: paused;
          opacity: 0;
        }
      }
    }
  }
}