div.content-box {
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: max-content;
  min-width: 0.125rem;
  height: 100%;
  font-size: 0.875rem;
  margin: 2.5rem;
  letter-spacing: .025em;

  img.loading-logo {
    width: 9rem;
    padding-bottom: 0.5rem
  }
}