div.content-box {
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: max-content;
  width: 100%;
  min-width: 0.125rem;
  height: 100%;
  font-size: 0.875rem;
  margin: 2rem;
  letter-spacing: .025em;

  img.loading-logo {
    width: 10.5rem;
    margin-bottom: 1.25rem;
    filter: brightness(0) saturate(100%) invert(22%) sepia(10%) saturate(600%) hue-rotate(113deg) brightness(92%) contrast(87%);    transform-box: fill-box;
    transform-origin: center;
    backface-visibility: hidden;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
  }
}