.menu {
  width: 25.875rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 0;
  background-color: #FAFAFA;
  background-blend-mode: normal;
  box-shadow: 10px 0px 50px rgba(126, 126, 126, 0.35);
  z-index: 99;

  .menu-header {
    margin: 2.875rem 2.875rem 0 2.875rem;
    display: flex;
    flex-direction: column;

    .menu-close-button {
      align-self: end;
    }
  }

  nav {
    height: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 2.875rem;
    
    .menu-links {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;

      a {
        width: 100%;
        padding: 0.875rem;
        margin: 0.375rem;
        text-align: center;
        text-decoration: none;
        color: #323232;
        transition: 300ms ease-in-out;

        .menu-link {
          display: block;
          width: 100%;
          font-size: 1rem;
          letter-spacing: 0.28em;
          font-weight: 800;
          text-transform: uppercase;
        }

        &.router-link-active {
          color: #bdbdb6;
        }

        &:hover {
          color: #bdbdb6;
        }
      }

      &:hover {

        .router-link-active {
          color: #323232;

          &:hover {
            color: #bdbdb6;
          }
        }
      }
    }
  }
}