.menu {
  width: 25.875rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  right: 0;
  background-color: $seasalt;
  background-blend-mode: normal;
  box-shadow: 0.625rem 0rem 3.125rem rgba(98, 121, 184, 0.35);
  z-index: 99;

  .menu-header {
    margin: 3.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .menu-header-text {
      font-family: 'Commissioner', sans-serif;
      font-weight: 800;
      font-size: 0.875rem;
      text-transform: uppercase;
      color: $outerspace-light;
      letter-spacing: 0.325em;
      // padding: 0.75rem;
      transition: 300ms ease-in-out;
    }

    .menu-close-button {

      &:hover {
        // transform: translateY(0.25rem) !important;
      }
    }
  }

  nav {
    height: 100%;
    display: flex;
    align-items: center;
    // margin-bottom: 2.25rem;
    
    .menu-links {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;

      a {
        width: 100%;
        padding: 0.875rem;
        text-align: center;
        text-decoration: none;
        color: $outerspace-light;
        transition: 300ms ease-in-out;

        .menu-link {
          display: block;
          width: 100%;
          font-size: 1rem;
          letter-spacing: 0.25em;
          font-weight: 800;
          text-transform: uppercase;
        }

        &.router-link-active {
          // color: #b1afa8;
          color: $glaucous;
        }

        &:hover {
          // color: #b1afa8;
          color: $glaucous;
        }
      }

      &:hover {

        .router-link-active {
          color: $outerspace-light;

          &:hover {
            // color: #b1afa8;
            color: $glaucous;
          }
        }
      }
    }
  }

  .menu-socials {
    margin: 3.5rem;
    display: flex;
    width: calc(100% - 7rem);
    flex-direction: column;
    align-items: center;

    .menu-socials-header {
      flex-grow: 1;
      flex-basis: 0;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      width: 100%;

      span {
        color: $outerspace-light;
        font-family: 'Commissioner', sans-serif;
        font-weight: 800;
        font-size: 0.75rem;
        font-weight: 800;
        text-transform: uppercase;
        letter-spacing: 0.375em;
      }
      
      .arrow-icon {
        width: 24px;
        height: 24px;
        transform: rotate(270deg);
        margin-left: 1.125rem;
        margin-top: 0.125rem;
      }
    }

    .menu-socials-carousel-container {
      height: 4rem;
      width: 100%;
      margin-top: 2.125rem;

      .menu-socials-carousel {
        display: flex;

        .menu-socials-carousel-item {
          background: $platinum;
          padding: 0.75rem 1.75rem;
          border-radius: 3rem;
          display: flex;
          align-items: center;
          justify-content: center;

          &:not(:last-child) {
            margin-right: 0.625rem;
          }

          span {
            font-size: 1rem;
            font-style: italic;
            font-weight: 500;
            color: #889688;
          }
        }
      }
    }
  }
}