.menu {
  width: 25.875rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  right: 0;
  background-color: $seasalt;
  background-blend-mode: normal;
  box-shadow: 0.625rem 0rem 3.125rem rgba(98, 121, 184, 0.35);
  z-index: 99;
  visibility: hidden;

  &.menu-visible {
    visibility: visible;
  }

  .menu-header {
    margin: 4.25rem 3.5rem 3.5rem 3.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .menu-header-text {
      font-family: 'Commissioner', sans-serif;
      font-weight: 800;
      font-size: 0.875rem;
      text-transform: uppercase;
      color: $outerspace-light;
      letter-spacing: 0.24em;
      // padding: 0.75rem;
      transition: 300ms ease-in-out;
    }

    .menu-close-button {

      img.close-icon {
        filter: brightness(0) saturate(100%) invert(22%) sepia(12%) saturate(485%) hue-rotate(113deg) brightness(96%) contrast(90%);
      }

      &:hover {
        // transform: translateY(0.25rem) !important;
      }
    }
  }

  nav {
    height: 100%;
    display: flex;
    align-items: center;
    // margin-bottom: 2.25rem;
    
    .menu-links {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;

      a {
        width: 100%;
        // padding: 0.75rem;
        padding: 0.6875rem;
        text-align: center;
        text-decoration: none;
        font-style: italic;
        color: $outerspace;
        transition: 300ms ease-in-out;

        .menu-link {
          display: block;
          width: 100%;
          font-size: 1rem;
          letter-spacing: 0.2em;
          font-weight: 800;
          text-transform: uppercase;
        }

        &.router-link-active {
          // color: #b1afa8;
          color: $glaucous;
        }

        &:hover {
          // color: #b1afa8;
          color: $glaucous;
        }
      }

      &:hover {

        .router-link-active {
          color: $outerspace-light;

          &:hover {
            // color: #b1afa8;
            color: $glaucous;
          }
        }
      }
    }
  }

  .menu-socials {
    margin: 3rem 0 /*4.625rem*/ 4.75rem 0;
    display: flex;
    width: calc(100% - 3.5rem);
    flex-direction: column;
    align-items: center;

    .menu-socials-header {
      flex-grow: 1;
      flex-basis: 0;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      width: 100%;
      margin: 0 3.5rem 0 3.5rem;

      &:hover {
        cursor: pointer;
        
        span {
          color: $glaucous;
        }

        .arrow-icon {
          // filter: brightness(0) invert(48%) sepia(52%) saturate(455%) hue-rotate(186deg) brightness(88%) contrast(86%);
          filter: brightness(0) invert(43%) sepia(9%) saturate(5896%) hue-rotate(3deg) brightness(100%) contrast(90%);
        }
      }

      span {
        color: $outerspace-light;
        font-family: 'Commissioner', sans-serif;
        font-weight: 800;
        font-size: 0.75rem;
        font-weight: 800;
        text-transform: uppercase;
        letter-spacing: 0.26em;
        transition: color 300ms ease-in-out;
        user-select: none;
      }
      
      .arrow-icon {
        width: 24px;
        height: 24px;
        transform: rotate(270deg);
        margin-left: 1.125rem;
        margin-top: 0.125rem;
        filter: brightness(0) invert(29%) sepia(7%) saturate(702%) hue-rotate(111deg) brightness(97%) contrast(94%);
        transition: filter 300ms ease-in-out;
        user-select: none;
      }
    }

    .menu-socials-carousel-wrap {
      width: 100%;
      // margin-top: 2.125rem;
      margin-top: 2rem;
      position: relative;
      overflow: hidden;

      &::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 2.875rem;
        background: linear-gradient(90deg, rgba(250, 250, 250, 0) 0% 0%, rgba(250, 250, 250, 0.878) 71.91% 71.91%, rgba(250, 250, 250, 1) 100% 100%);
      }

      .menu-socials-carousel {
        display: flex;
        position: relative;
        left: 3.5rem;
        transition: all 300ms ease-in-out;

        .menu-socials-carousel-item {
          background: none;
          padding: 0.5625rem 1.8125rem;
          border-radius: 3rem;
          -webkit-box-shadow:inset 0px 0px 0px 0.125rem $outerspace-light;
          -moz-box-shadow:inset 0px 0px 0px 0.125rem $outerspace-light;
          box-shadow:inset 0px 0px 0px 0.125rem $outerspace-light;          
          display: flex;
          align-items: center;
          justify-content: center;
          white-space: nowrap;
          text-decoration: none;
          transition: all 300ms ease-in-out;

          &:hover {
            -webkit-box-shadow:inset 0px 0px 0px 0.125rem $glaucous;
            -moz-box-shadow:inset 0px 0px 0px 0.125rem $glaucous;
            box-shadow:inset 0px 0px 0px 0.125rem $glaucous;

            span {
              color: $glaucous;
            }

            .menu-socials-carousel-item-icon {
              // filter: brightness(0) saturate(100%) invert(48%) sepia(52%) saturate(455%) hue-rotate(186deg) brightness(88%) contrast(86%);
              filter: brightness(0) saturate(100%) invert(43%) sepia(9%) saturate(5896%) hue-rotate(3deg) brightness(100%) contrast(90%);
            }
          }

          &:not(:last-child) {
            margin-right: 0.75rem;
          }

          .menu-socials-carousel-item-icon {
            margin-right: 0.5rem; 
            width: 100vw;
            height: 100vh;
            max-width: 1.5rem;
            max-height: 1.5rem;
            transition: all 300ms ease-in-out;
            // filter: brightness(0) saturate(100%) invert(61%) sepia(6%) saturate(573%) hue-rotate(71deg) brightness(95%) contrast(83%);
            filter: brightness(0) saturate(100%) invert(28%) sepia(6%) saturate(882%) hue-rotate(111deg) brightness(95%) contrast(89%);
            user-select: none;
          }

          span {
            font-size: 1rem;
            font-style: italic;
            font-weight: 600;
            color: $outerspace-light;
            transition: color 300ms ease-in-out;
            user-select: none;
          }
        }
      }
    }
  }
}