@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* Firefox Scrollbar */
  scrollbar-width: thin;
  scrollbar-color: #323232 #c9c9c3; }

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  width: 0.5rem; }

*::-webkit-scrollbar-track {
  background-color: #c9c9c3; }

*::-webkit-scrollbar-track:hover {
  background-color: #c9c9c3; }

*::-webkit-scrollbar-track:active {
  background-color: #c9c9c3; }

*::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;
  background-color: #323232; }

*::-webkit-scrollbar-thumb:hover {
  background-color: #323232; }

*::-webkit-scrollbar-thumb:active {
  background-color: #323232; }

.fade-leave-active {
  transition: 500ms ease-in-out; }

.fade-leave-to {
  opacity: 0; }

html, body {
  width: 100%;
  height: 0.125rem;
  min-height: 100%; }

body {
  background: #fafafa;
  font-family: 'Commissioner', sans-serif;
  font-size: 1.125rem;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1.67em; }
  body #app {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center; }
    body #app #router-root {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center; }
    body #app button {
      height: 3.5rem;
      padding: 0 1.75rem;
      outline: none;
      background: #D5D5D0;
      border: none;
      display: flex;
      align-items: center;
      transition: 300ms ease-in-out; }
      body #app button.menu-close-button, body #app button.home-page-cta {
        padding: 0 1.3125rem; }
      body #app button:hover {
        cursor: pointer;
        background: #c9c8c3;
        box-shadow: 0.625rem 1.25rem 3.125rem rgba(126, 126, 126, 0.325);
        transform: translateY(-0.25rem); }
      body #app button:focus {
        outline: none;
        border: none; }
      body #app button .button-text {
        font-family: 'Commissioner', sans-serif;
        font-weight: 800;
        font-size: 0.875rem;
        text-transform: uppercase;
        color: #323232;
        letter-spacing: 0.325em; }
      body #app button .button-item-gap {
        height: 100%;
        width: 0.75rem; }
      body #app button img.button-icon {
        height: 1.5rem; }
        body #app button img.button-icon.navicon {
          margin-top: 0.125rem; }
        body #app button img.button-icon.close-icon, body #app button img.button-icon.arrow-icon {
          margin-top: 0; }
    body #app h1, body #app h2, body #app h3, body #app h4, body #app h5, body #app h6, body #app p {
      display: block; }
  body div.content-box {
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: max-content;
    width: 100%;
    min-width: 0.125rem;
    height: 100%;
    font-size: 0.875rem;
    margin: 2rem;
    letter-spacing: .025em; }
    body div.content-box img.loading-logo {
      max-width: 9.5rem;
      width: 100%;
      margin-bottom: 0.75rem; }
  body .menu {
    width: 25.875rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #FAFAFA;
    background-blend-mode: normal;
    box-shadow: 0.625rem 0rem 3.125rem rgba(126, 126, 126, 0.35);
    z-index: 99; }
    body .menu .menu-header {
      margin: 2.875rem 2.875rem 0 2.875rem;
      display: flex;
      flex-direction: column; }
      body .menu .menu-header .menu-close-button {
        align-self: flex-end; }
    body .menu nav {
      height: 100%;
      display: flex;
      align-items: center;
      margin-bottom: 2.875rem; }
      body .menu nav .menu-links {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center; }
        body .menu nav .menu-links a {
          width: 100%;
          padding: 0.875rem;
          margin: 0.375rem;
          text-align: center;
          text-decoration: none;
          color: #323232;
          transition: 300ms ease-in-out; }
          body .menu nav .menu-links a .menu-link {
            display: block;
            width: 100%;
            font-size: 1rem;
            letter-spacing: 0.28em;
            font-weight: 800;
            text-transform: uppercase; }
          body .menu nav .menu-links a.router-link-active {
            color: #b1afa8; }
          body .menu nav .menu-links a:hover {
            color: #b1afa8; }
        body .menu nav .menu-links:hover .router-link-active {
          color: #323232; }
          body .menu nav .menu-links:hover .router-link-active:hover {
            color: #b1afa8; }
  body #home-page-wrap {
    width: 100%;
    height: 100%;
    background: #FAFAFA;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    padding: 5.625rem 0; }
    body #home-page-wrap .home-page-image-wrap {
      width: 40%;
      height: 100%; }
      body #home-page-wrap .home-page-image-wrap .home-page-image {
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center right;
        background-color: rgba(0, 0, 0, 0.1); }
    body #home-page-wrap .home-page-content {
      width: 60%;
      height: 100%;
      padding: 0 clamp(2rem, 9.375vw, 9.375rem);
      display: flex;
      flex-direction: column;
      align-items: center; }
      body #home-page-wrap .home-page-content .home-page-navbar {
        display: flex;
        justify-content: space-between;
        width: 100%;
        max-width: 41.375rem; }
        body #home-page-wrap .home-page-content .home-page-navbar a {
          line-height: 0; }
          body #home-page-wrap .home-page-content .home-page-navbar a .home-logo {
            width: 8rem; }
      body #home-page-wrap .home-page-content .home-page-copy {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        justify-content: flex-end;
        max-width: 41.375rem;
        margin: 7.375rem 0;
        visibility: hidden; }
        body #home-page-wrap .home-page-content .home-page-copy.copy-visible {
          visibility: visible; }
        body #home-page-wrap .home-page-content .home-page-copy h2.home-page-subtitle {
          color: #323232;
          font-size: 1.125rem;
          line-height: 1.4em;
          letter-spacing: 0.28em;
          font-weight: 800;
          text-transform: uppercase;
          align-self: flex-end; }
          body #home-page-wrap .home-page-content .home-page-copy h2.home-page-subtitle .home-page-subtitle-slice {
            color: #b1afa8; }
        body #home-page-wrap .home-page-content .home-page-copy h1.home-page-title {
          font-family: 'Roboto', sans-serif;
          color: #323232;
          font-style: italic;
          font-size: clamp(2.125rem, 5.25vw, 5.25rem);
          text-align: right;
          line-height: 1.05em;
          letter-spacing: 0;
          font-weight: 900;
          margin-top: 1.75rem;
          align-self: flex-end; }
        body #home-page-wrap .home-page-content .home-page-copy p.home-page-body {
          color: #323232;
          font-size: 1.125rem;
          line-height: 1.67em;
          text-align: right;
          margin-top: 2.25rem;
          align-self: flex-end; }
      body #home-page-wrap .home-page-content .home-page-cta-marginal {
        width: 100%;
        max-width: 41.375rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        visibility: hidden; }
        body #home-page-wrap .home-page-content .home-page-cta-marginal.marginal-visible {
          visibility: visible; }
        body #home-page-wrap .home-page-content .home-page-cta-marginal .home-page-cta-marginal-count {
          font-family: 'Commissioner', sans-serif;
          font-weight: 800;
          font-size: 0.875rem;
          text-transform: uppercase;
          color: #323232;
          letter-spacing: 0.325em; }
