// Font imports
@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

// Theme Variables
$outerspace: #36413E;
$outerspace-light: #414E4A;
$ash: #C3C9C3;
$ash-dark: #aeb6ae;
$timberwolf: #D0D5D0;
$platinum: #E9EBE9;
$seasalt: #FAFAFA;
// $glaucous: #6279B8;
$glaucous: #b66d0d;

// Base site styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  /* Firefox Scrollbar */
  scrollbar-width: thin;
  scrollbar-color: $outerspace $ash;
}

/* Chrome, Edge and Safari Scrollbar */
*::-webkit-scrollbar {
  width: 0.5rem;
}
*::-webkit-scrollbar-track {
  background-color: $ash;
}

*::-webkit-scrollbar-track:hover {
  background-color: $ash;
}

*::-webkit-scrollbar-track:active {
  background-color: $ash;
}

*::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;
  background-color: $outerspace;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: $outerspace;
}

*::-webkit-scrollbar-thumb:active {
  background-color: $outerspace;
}

// Vue Router Transition Styles
.fade-leave-active {
  transition: 500ms ease-in-out;
}

.fade-leave-to {
  opacity: 0;
}

// Base site styles
html, body {
  width: 100%;
  height: 0.125rem;
  min-height: 100%;
}

body {
  background: $seasalt;
  font-family: 'Commissioner', sans-serif;
  font-size: 1.125rem;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1.67em;

  #app {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    #router-root {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    // Button styles
    button {
      --height: 3.5rem;
      height: var(--height);
      padding: 0 2.5625rem; /* 0 2rem; */
      outline: none;
      background: $ash;
      border: none;
      display: flex;
      align-items: center;
      transition: 300ms ease-in-out;
      border-radius: calc(var(--height) * 0.5);

      &:hover {
        cursor: pointer;
        background: $glaucous;
        box-shadow: 0.625rem 1.125rem 3.125rem rgba(54, 65, 62, 0.3112);
        transform: translateY(-0.125rem);

        .button-text {
          color: $seasalt;
          font-weight: 600;
          letter-spacing: 0.25em;
        }

        img.button-icon {
          filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(123deg) brightness(103%) contrast(96%);
        }
      }

      &:focus {
        outline: none;
        border: none;
      }
    
      .button-text {
        font-family: 'Commissioner', sans-serif;
        font-weight: 800;
        font-size: 0.875rem;
        text-transform: uppercase;
        color: $outerspace;
        letter-spacing: 0.245em;
        transition: 300ms ease-in-out;
      }
    
      .button-item-gap {
        height: 100%;
        width: 0.625rem;
      }
    
      img.button-icon {
        height: 1.5rem;
        transition: 300ms ease-in-out;
        // filter: brightness(0) invert(22%) sepia(10%) saturate(574%) hue-rotate(113deg) brightness(97%) contrast(91%);
        // filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(123deg) brightness(103%) contrast(96%);
    
        &.navicon {
          margin-top: 0.125rem;
        }
    
        &.close-icon, &.arrow-icon {
          margin-top: 0;
        }

        &.close-icon {
          margin-right: -0.125rem;
          margin-left: -0.125rem;
        }
      }

      &.button-outline {
        position: relative;
        z-index: 1;
        background: $seasalt;
        padding: 0 2.25rem;
        border: 0.125rem solid $outerspace-light;
        border-radius: calc(var(--height) * 0.5);

        @keyframes border-pulsate {
          0% {
            width: 0%;
            height: 0%;
            opacity: 1;
          }

          100% {
            width: 100%;
            height: 100%;
            opacity: 0;
          }
        }

        &:hover {
          box-shadow: none;
          border-color: $glaucous;

          &::before {
            animation-play-state: running;
            border-color: $glaucous;
          }

          .button-text {
            color: $glaucous;
          }

          .button-icon {
            // filter: brightness(0) invert(48%) sepia(52%) saturate(455%) hue-rotate(186deg) brightness(88%) contrast(86%);
            filter: brightness(0) invert(43%) sepia(9%) saturate(5896%) hue-rotate(3deg) brightness(100%) contrast(90%);
          }
        }

        &::before {
          background: transparent;
          position: absolute;
          z-index: 0;
          content: '';
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          border: 0.125rem solid transparent;
          border-color: transparent;
          border-radius: calc(var(--height) * 0.5);
          animation: border-pulsate 800ms ease-in-out infinite;
          animation-play-state: paused;
          transition: 300ms ease-in-out;
          overflow: visible;
        }

        .button-text, .button-item-gap, img {
          position: relative;
          z-index: 1;
        }

        // .button-item-gap {
        //   width: 0.625rem;
        // }

        .button-text {
          color: $outerspace-light;
          letter-spacing: 0.245em;
          font-weight: 800;
        }

        .button-icon {
          filter: brightness(0) invert(29%) sepia(7%) saturate(702%) hue-rotate(111deg) brightness(97%) contrast(94%);
          // filter: brightness(0) invert(48%) sepia(52%) saturate(455%) hue-rotate(186deg) brightness(88%) contrast(86%);
        }
      }

      &.button-icon-only {
        position: relative;
        z-index: 1;
        padding: 0;
        background: $seasalt;
        border: 0.125rem solid $outerspace-light;
        border-radius: 100%;
        width: 3.5rem;
        display: flex;
        justify-content: center;

        .button-icon-only-icon {
          filter: brightness(0) invert(29%) sepia(7%) saturate(702%) hue-rotate(111deg) brightness(97%) contrast(94%);
          height: 1.5rem;
          transition: filter 300ms ease-in-out;
        }

        &.work-page-carousel-next {
          align-self: flex-end;
          position: relative;
          right: 1.25rem;

          .button-icon-only-icon {
            margin-left: 3.125rem;
          }
        }

        &.work-page-carousel-prev {
          position: relative;
          left: 1.375rem;

          .button-icon-only-icon {
            margin-right: 3.125rem;
            transform: rotate(180deg);
          }
        }

        &:hover {
          box-shadow: none;
          border-color: $glaucous;

          &::before {
            animation-play-state: running;
            border-color: $glaucous;
          }

          .button-icon-only-icon {
            // filter: brightness(0) invert(48%) sepia(52%) saturate(455%) hue-rotate(186deg) brightness(88%) contrast(86%);
            filter: brightness(0) invert(43%) sepia(9%) saturate(5896%) hue-rotate(3deg) brightness(100%) contrast(90%);
          }
        }

        &::before {
          background: transparent;
          position: absolute;
          z-index: 0;
          content: '';
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          border: 0.125rem solid transparent;
          border-color: transparent;
          border-radius: calc(var(--height) * 0.5);
          animation: border-pulsate 800ms ease-in-out infinite;
          animation-play-state: paused;
          transition: 300ms ease-in-out;
          overflow: visible;
        }

        &:disabled {
          opacity: 1;
          cursor: pointer;
        }
  
        &[disabled] {
          background-color: inherit;
          color: inherit;
        }
      }
    }
    
    h1, h2, h3, h4, h5, h6, p {
      display: block;
    }
  }

  // Component SCSS imports
  @import 'components/loading';
  @import 'components/menu';
  @import 'components/pages/home';
  @import 'components/pages/work';
  @import 'components/pages/experience';
}
